<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="apikey" value="iCHKmzLXfJ61edodw3RSZL6dN,
         zfAk4JrqWlFZQBd0vEYqNQBhe,
         plSZBajIcYCg4iu0KlXm6qPWb,
         Ypize6UwgI438vW9JxfI3qhjw,
         st1JF4YA9HZ9tj0T6xvUrv4d9,
         aZafIgZareIrywHjKEtUiFYeT,
         5QVbEb7I8Mw6V40lcvzYUQCrf,
         qdjhD9Uk1dWeYxnCFnZ7G6Tqw,
         ofpxfOxYCpsQSKzKnAS8TjVp9,
         nOoxYnerMDmnLcy8hP1kNDRm4,"/>
    
    
    <!--<add key="apikey" value="api=ofpxfOxYCpsQSKzKnAS8TjVp9" />-->

    <add key="apiurl" value ="https://api.hubuco.com/api/v3/?"/>
    <add key="noRegistrosArchivo" value ="1000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
